.search-bar{

    width: 18%;
    margin-left: 40%;
    margin-bottom: 2%;
  
}
#search-box{
    padding: 1%;
}
#search-button{
    background-color: #006142;
    color: white;
    padding: 2% 4%;
    font-weight: 500;
    margin-left: 3%;
}

.slider{
    padding: 2% 1% 0% 1% ;
    position: fixed;
    width: 300px;
    height: 540px;
    overflow: scroll;
    right: 0%;

    background-color:#EEF1F0;
    animation-name: slideInUp;
    animation-duration: 0.1s;
  
}

  
.cart-item{
    display: grid;
    grid-template-columns: 10% 83% 5% ;
}
#remove-from-cart-btn{
    color: white;
    width: 70%;
    height: fit-content;
    background-color: darkred;
    border-radius: 0;
}
#remove-from-cart-btn :hover{
    cursor: pointer;
}

#check-out-btn{
    width:50%;
    background-color: #006142;
    color: #EEF1F0;
    margin: 4% 24%;
}


.items-page-container{
    width: 100%;
    background-color: #ffffff;
    height: fit-content;
    padding:3% 0% ;
}

.items-page-container img{
    width: 100%;
}

.items{
   
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 6.5%;
    row-gap: 3%;

}

#cart-icon{
    position: fixed;
    font-size: 4vw;
    top:90%;
    left: 92%;
    color: #006142;
}

#item-name{
    float: left;
}

#item-price{
    
    float:right;
}

#add-to-cart-btn{
    border-radius: 0 ;
    width: fit-content;
    margin:2% 0%;
    
}

#add-to-cart-btn, #item-name, #item-price{
    font-size: 1.5vw;
   text-align: center;
}



/*********************************/
/*MEDIA QUIRES*/
/*********************************/
@media screen and (max-width:769px){
    .items{
        grid-template-columns: 30% 30% 30%;
    }
    #add-to-cart-btn, #item-name, #item-price {
        font-size: 3vw;
    }
    

}

/*********************************/
/*Animation*/
/*********************************/ 
@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  